# Git
.git
.gitignore

# Docker config
Dockerfile
docker-compose.yml
.dockerignore
nginx/ # <-- Не копируем в образ web через COPY . .
postgresql/ # <-- Не копируем в образ web через COPY . .
# Скрипты .sh копируются отдельно в Dockerfile, поэтому их тоже можно добавить сюда,
# чтобы они не скопировались второй раз через COPY . .
entrypoint.sh
dump_db.sh
copy_media.sh

# Файл окружения (СЕКРЕТЫ!)
.env

# Виртуальные окружения
venv/
.venv/
env/
ENV/

# Python cache/bytecode
__pycache__/
*.py[cod]

# Папки IDE
.idea/
.vscode/

# Базы данных
*.sqlite3
*.db

# Сгенерированные Django папки
staticfiles/
# media/ # Не копируем локальную медиа в образ

# Логи
*.log

# Системные файлы OS
.DS_Store
Thumbs.db

# Другое
*.bak
# fixtures/ # Раскомментируйте, если фикстуры копируются в Dockerfile отдельно