# Содержимое из вашего пункта 1
.git
.gitignore
.env # Исключаем файл с секретами
.dockerignore
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
*.sqlite3
nginx/ # Исключаем, т.к. копируется в контейнер
postgresql/ # Исключаем, т.к. копируется в контейнер
staticfiles/ # Генерируется collectstatic
# media/ # Не исключаем, т.к. copy_media.sh берет ее локально
# fixtures/ # Раскомментируйте, если НЕ хотите копировать фикстуры в образ