<ul class="navbar-nav">
    {% for item in menu %}
        <li class="nav-item">
            <a class="nav-link" href="{% url item.url_name %}">{{ item.title }}</a>
        </li>
        {% if not forloop.last %}
            <li class="nav-item"><hr class="dropdown-divider"/></li>
        {% endif %}
    {% endfor %}

    <!-- Разделитель перед пунктом "Избранное" -->
    #<li class="nav-item"><hr class="dropdown-divider"/></li>

    <!-- Пункт "Избранное" -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'news:favorite_news' %}">
            <i class="bi bi-bookmark"></i> Избранное
        </a>
    </li>
</ul>